<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form action="/login" method="post">
  <table>
    <tr>
      <td>username</td>
      <td><input type="text" name="username"></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="login"></td>
    </tr>
  </table>
</form>
{% if error %}
  <p><strong>Error:</strong>{{ error }}</p>
{% endif %}

</body>
</html>